<div class="container">

    <h1>League of Series</h1>

    <img src="https://res.cloudinary.com/gbrozdev/image/upload/v1635680900/20211031_170836_g0ovgn.jpg" alt="">

    <h6>
        League of Series is a social network for film discussion and discovery in Kerala. Use it as a diary to record
        and share your opinion about films as you watch them, or just to keep track of films you’ve seen in the past.
        You can Post Reviews Stories Explanation MovieSuggession and Messages Here...
        <br>
        <br>
        Kindly help this community to grow through kerala by your support..
        <br>
        <br>
        <a class="signup-button" href="/users/signup">SignUp</a> to Start writing your movie thoughts....
    </h6>

</div>

<style>
    img {
        width: 100%;
        height: 30vh;
        border-radius: 1rem;
        object-fit: cover;
    }
    .signup-button{
        color: green;
    }
    h1 {
        margin: 15px;
        font-size: 25px;
        font-weight: 800;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h6 {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 600;
        font-family: monospace;
        color: dimgray;
        border-bottom: dimgray 2px solid;
        padding: 10px;
        padding-bottom: 20px;
    }

    .container {
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>